<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/login.css" />

    <link rel="stylesheet" href="/assets/css/cdnjs/reset.min.css" />
    <title>login</title>
  </head>

  <body>
    <div class="container">
      <form action="" class="form-login active" id="login">
        <h1>Đăng nhập</h1>
        <div class="form-text">
          <label for="">Tên đăng nhập</label>
          <input type="text" />
        </div>
        <div class="form-text">
          <label for="">Mật khẩu</label>
          <input type="text" />
        </div>
        <button>Đăng nhập</button>
        <span
          >Bạn chưa có tài khoản? Đăng ký
          <a href="#" class="form-register">Tại đây</a></span
        >
        <br>
        <a href="/template/app.html">Quay lại trang chủ</a>
      </form>
      <form action="" class="form-login" id="register">
        <h1>đăng ký</h1>
        <div class="form-text">
          <label for="">Tên đăng nhập</label>
          <input type="text" />
        </div>
        <div class="form-text">
          <label for="">Mật khẩu</label>
          <input type="text" />
        </div>
        <div class="form-text">
          <label for="">Nhập lại mật khẩu</label>
          <input type="text" />
        </div>
        <button>Đăng ký</button>
        <span
          >Sang trang đăng nhập
          <a href="#" class="form-register">Tại đây</a></span
        >
        <br>
        <a href="/template/app.html">Quay lại trang chủ</a>
      </form>
    </div>
    <script src="/assets/js/login.js"></script>
  </body>
</html>
